{% extends 'base.html.twig' %}

{% block title %}A propos - R. Oncedor{% endblock %}
{% block metaContent %}content="R. Oncedor - Histoires Farfelues. R. Oncedor, jeune artiste et autrice auto-éditée originaire d'Auvergne..."{% endblock %}

{% block main %}
    <!-- MAIN -->
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="#" class="active">A propos</a>
        </div>

        <div class="about">
            <h1>R. Oncedor</h1>

            <div class="presentation">
                <img src="{{ asset('pictures/author.jpg') }}" alt="Portrait de l'autrice, R. Oncedor">
                <div>
                    <h2>Présentation</h2>
                    <p>
                        Fille de botaniste, .R. Oncedor a grandi dans les montagnes d'Auvergne.
                    </p>
                    <p>
                        Après des études d'art, elle s'installe à Nantes où elle dessine des créatures imaginaires et écrit des récits étranges.
                    </p>
                    <p>
                        Autrice originaire de Scribay, elle a fait ses premières armes sur le forum Encre Nocturne.
                    </p>
                </div>
            </div>

            <div>
                <h2>Liens sociaux</h2>
                <div class="social">
                    <div>
                        <img src="{{ asset('pictures/newsletter.svg') }}" alt="Logo enveloppe pour la newsletter">
                        <a href="https://15e591f3.sibforms.com/serve/MUIEAArx6tQwDid0zIcyq5PTg5WGFgeLrVFpEVhCXNW-NH8s80kG-rZqIBHUNkA-OVMF31JKUVTREJQreo07tGP4SyoylTVZUd54dMNMa22niJV6M3aeAoycPUglvMZV4n581-IC9Cxdie-E37UiolHa9ycbYe7ZoR5--hNK6mYU8p6KvH1FEMCSLlFfUl4kCv3CUq9JVyG2dipw">Newsletter</a>
                    </div>
                    <div>
                        <img src="{{ asset('pictures/instagram.svg') }}" alt="Logo d'Instagram">
                        <a href="https://www.instagram.com/roncedor/">Compte Instagram</a>
                    </div>
                    <div>
                        <img src="{{ asset('pictures/pen.svg') }}" alt="Logo de stylo-plume">
                        <a href="https://www.scribay.com/author/1921084357/cornedor">Compte Scribay</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

