{% extends 'base.html.twig' %}

{% block title %}Administration - Commandes - R. Oncedor{% endblock %}

{% block main %}
<main class="main" role="main">

    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="{{ path('admin_product') }}">Administration</a>
        <p>></p>
        <a href="#" class="active">Administration des commande</a>
    </div>

    <h1>Commandes</h1>

    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <div class="admin_block">
        {% include 'admin/admin_includes/_admin_menu.html.twig' %}
        <div class="admin_content">
            <h2>Commandes non expédiées</h2>
            <table>
                <thead>
                    <td>Numéro de commande</td>
                    <td>Nom du client</td>
                    <td>Date de commande</td>
                    <td>Actions</td>
                </thead>
                <tbody>
                    {% for order in noShippedOrder %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>
                            <td>{{ order.orderDate|date("d/m/Y") }}</td>
                            <td>
                                <a href="{{ path('admin_order_details', {id:order.id}) }}" class="btn">Détails</a>
                                <a href="{{ path('admin_order_shipping', {id:order.id}) }}" class="btn">Marquer comme expédiée</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Commandes expédiées</h2>
            <table>
                <thead>
                    <td>Numéro de commande</td>
                    <td>Nom du client</td>
                    <td>Date de commande</td>
                    <td>Date d'expédition</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    {% for order in shippedOrder %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>
                            <td>{{ order.orderDate|date("d/m/Y") }}</td>
                            <td>{{ order.shippedDate|date("d/m/Y") }}</td>
                            <td><a href="{{ path('admin_order_details', {id:order.id}) }}" class="btn">Détails</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endblock %}