{% extends 'base.html.twig' %}

{% block title %}Administration - Gestion des commande - Détails de commande - R. Oncedor{% endblock %}

{% block main %}
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="{{ path('admin_product') }}">Administration</a>
            <p>></p>
            <a href="{{ path('admin_order') }}">Administration des commande</a>
            <p>></p>
            <a href="#" class="active">Détails de commande</a>
        </div>

        <h1>Détails de la commande n° {{ order.id }} du {{ order.orderDate|date("d/m/Y") }}</h1>

        <div class="admin_block">
            {% include 'admin/admin_includes/_admin_menu.html.twig' %}
            <div class="admin_content">
                <h2>Informations client</h2>
                <p><span class="bold">Nom : </span>{{ order.user.firstname }} {{ order.user.lastname }}</p>
                <p class="bold">Adresse de livraison :</p>
                <p>{{ order.address.lineone }}</p>
                <p>{{ order.address.linetwo }}</p>
                <p>{{ order.address.postalCode }} {{ order.address.city }}</p>

                <h2>Commande</h2>
                <table>
                    <thead>
                        <td>Titre</td>
                        <td>Catégorie</td>
                        <td>Tome</td>
                        <td>Prix</td>
                    </thead>
                    <tbody>
                        {% for orderLine in orderLines %}
                        <tr>
                            <td>{{ orderLine.product.name }}</td>
                            <td>{{ orderLine.product.category.name }}</td>
                            <td>{{ orderLine.product.tome }}</td>
                            <td>{{ orderLine.product.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not order.isShipped %}
                    <div>
                        <a href="{{ path('admin_order_shipping', {id:order.id}) }}" class="btn">Marquer comme expédiée</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}