{% extends 'base.html.twig' %}

{% block title %}Panier - R. Oncedor{% endblock %}

{% block main %}
<!-- MAIN -->
<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="#" class="active">Panier</a>
    </div>

    <div>
        <h1>Panier</h1>
        <div class="cart">
            {% if items | length > 0 %}
            <p>Merci de bien vouloir vous connecter ou vous inscrire avant de valider votre commande ! Et n'oubliez pas d'ajouter une adresse dans votre profil</p>

            <table>
                <thead>
                    <td>Titre</td>
                    <td>Catégorie</td>
                    <td>Tome</td>
                    <td>Prix</td>
                    <td>Quantité</td>
                    <td>Total</td>
                    <td>Gérer la quantité</td>
                    <td>Supprimer</td>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.category.name }}</td>
                        <td>{{ item.product.tome }}</td>
                        <td>{{ item.product.price }}€</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}€</td>
                        <td>
                            <a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn">+</a>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn">-</a>
                        </td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td colspan="5" class="total">Total du panier</td>
                    <td>{{ totalCartPrice }}€</td>
                </tfoot>
            </table>

            <a href="{{ path('checkout_address') }}" class="btn">Commander</a>

            {% else %}
                <p>Vous n'avez pas de produits dans votre panier !</p>
            {% endif %}
        </div>

    </div>
</main>
{% endblock %}