{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de commande - R. Oncedor{% endblock %}

{% block main %}
<!-- MAIN -->
<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="{{ path('checkout_address') }}" class="active">Commander</a>
        <p>></p>
        <a href="#" class="active">Récapitulatif de commande</a>
    </div>

    <h1>Récapitulatif de commande</h1>

    <div class="recap">
        <div>
            <h2>Votre adresse de livraison</h2>
            <p>{{ app.user.firstName }} {{app.user.lastName}}</p>
            <p>{{ deliverAdress.lineOne }}</p>
            <p>{{ deliverAdress.lineTwo }}</p>
            <p>{{ deliverAdress.postalCode }} {{ deliverAdress.city }}</p>
            <p>{{ deliverAdress.country }}</p>
        </div>
            <div>
                <h2>Votre commande</h2>                
                <table>
                    <thead>
                        <td>Titre</td>
                        <td>Catégorie</td>
                        <td>Tome</td>
                        <td>Prix</td>
                        <td>Quantité</td>
                        <td>Total</td>
                    </thead>
                    <tbody>
                        {% for item in orderCart %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.category.name }}</td>
                            <td>{{ item.product.tome }}</td>
                            <td>{{ item.product.price }}€</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }}€</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="total">Frais de port</td>
                            <td>7,50€</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="total">Total de votre commande</td>
                            <td>{{ totalPrice }}€</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form_block">
                    <form action="{{ path('checkout_payement') }}" method="POST">
                        <button type="submit">Payer</button>
                    </form>
                </div>
            </div>
    </div>
</main>
{% endblock %}