{% extends 'base.html.twig' %}

{% block title %}Accueil - R. Oncedor{% endblock %}
{% block metaContent %}content="R. Oncedor - Histoires Farfelues. Découvrez l'autrice R. Oncedor, ces livres et précommandez-les quand ils sont disponibles !"{% endblock %}

{% block bodyclass %}class="home_body"{% endblock %}

    {% block header %}
        <!-- HEADER -->
        <header class="home_header header" role="banner">
            <nav class="header_nav" role="navigation" aria-label="Menu principal">
                <div>
                    <a href="{{ path('home') }}"><img src="{{ asset('pictures/logo_1.png') }}" /></a>
                </div>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('preorder') }}">Précommande</a></li>
                    <li><a href="{{ path('bibliography') }}">Bibliographie</a></li>
                    <li><a href="{{ path('about') }}">A propos</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li><a href="{{ path('cart') }}" class="btn">Panier</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_product') }}" class="btn">Administration</a></li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li><a href="{{ path('user_profile') }}" class="btn">Mon espace client</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}" class="btn">Inscription</a></li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_logout') }}" class="btn">Me déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="btn">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    {% endblock %}

    {% block main %}
        <!-- MAIN -->
        <main class="home_main" role="main">
            <div class="site_title">
                <h1>R. Oncedor</h1>
                <p class="subtitle">Histoires Farfelues</p>
            </div>
        </main>
    {% endblock %}