{% extends 'base.html.twig' %}

{% block title %}Bibliographie - R. Oncedor{% endblock %}


{% block main %}
    <!-- MAIN -->
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="#" class="active">Bibliographie</a>
        </div>

        <div class="bibliography">
            <h1>Bibliographie</h1>
            <div class="book_category">
                <div>
                    {% for book in books %}
                    <div class="book">                        
                        <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="Couverture de {{ book.name }}" />
                        <h3>{{ book.name }}</h3>
                        {% if book.tome > 0 %}
                            <p>Tome {{ book.tome }}</p>
                            {% else %}
                            <p>Stand-alone</p>
                        {% endif %}
                        <p>Edition {{ book.edition.name }}<p>
                        <a href="{{ path('book', {id: book.id}) }}" class="btn">En savoir plus</a>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

