<div class="form_block">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.lineOne) }}
    {{ form_row(form.lineTwo) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>