{% extends 'base.html.twig' %}

{% block title %} {{book.name}} - R. Oncedor {% endblock %}

{% block main %}
    <!-- MAIN -->
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="{{ path("bibliography") }}">Bibliographie</a>
            <p>></p>
            <a href="#" class="active">{{book.name}}</a>
        </div>

        {% if book.tome > 0 %}
            <h1>{{ book.name }} - {{ book.category.name }} - Tome {{ book.tome }}</h1>
        {% else %}
            <h1>{{ book.name }}</h1>
        {% endif %}
    
        <div class="book_presentation">
                <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="Couverture de {{ book.name }}" />
                <div> 
                    <h2> Détails </h2>
                    <p>Edition {{ book.edition.name }}</p>
                    <p>{{ book.description|nl2br }}</p>
                    <h2> Résumé </h2>
                    <p> {{ book.summary|nl2br }} </p>
                </div>
        </div>
    </main>
{% endblock %}
