<!-- HEADER -->
<header class="header" role="banner">
    <nav class="header_nav" role="navigation" aria-label="Menu principal">
        <div>
            <a href="{{ path('home') }}"><img src="{{ asset('pictures/logo_1.png') }}" /></a>
        </div>
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="#">Précommande</a></li>
                <li><a href="{{ path('bibliography') }}">Bibliographie</a></li>
                <li><a href="{{ path('about') }}">A propos</a></li>
                <li><a href="#">Contact</a></li>
                <li class="btn_link"><a href="#">Panier</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="btn_link"><a href="{{ path('admin_product') }}">Administration</a></li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="btn_link"><a href="#">Mon espace client</a></li>
                {% else %}
                    <li class="btn_link"><a href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="btn_link"><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
                {% else %}
                    <li class="btn_link"><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
    </nav>
    <div class="header_banner">
        <div class="site_title">
            <h1>R. Oncedor</h1>
            <h4>Histoires Farfelues</h4>
        </div>
    </div>
</header>