{% extends 'base.html.twig' %}

{% block title %}Administration - Produits - R. Oncedor{% endblock %}

{% block main %}
    <main class="main" role="main">

        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="{{ path('admin_product') }}">Administration</a>
            <p>></p>
            <a href="#" class="active">Gestion des produits</a>
        </div>

        <h1>Gestion des produits</h1>

        <div class="admin_block">
            {% include 'admin/admin_includes/_admin_menu.html.twig' %}
            <div class="admin_content">
                <div>
                    <a href="{{path('admin_product_add')}}" class="btn_link">ajouter</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Type</th>
                            <th>Catégorie</th>
                            <th>Edition</th>
                            <th>Tome</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <th>{{product.id}}</th>
                                <th>{{product.name}}</th>
                                <th>{{product.price}}</th>
                                <th>{{product.type.name}}</th>
                                <th>{{product.category.name}}</th>
                                <th>{{product.edition.name}}</th>
                                <th>{{product.tome}}</th>
                                <th>
                                    <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn_link">Editer</a>
                                    <a href="{{ path('admin_product_delete', { id: product.id }) }}" class="btn_link">Supprimer</a>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </main>
{% endblock %}

