{% extends 'base.html.twig' %}

{% block title %}Administration - Produits - R. Oncedor{% endblock %}

{% block main %}
    <main class="main" role="main">

        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="{{ path('home') }}">Accueil</a>
            <p>></p>
            <a href="{{ path('admin_product') }}">Administration</a>
            <p>></p>
            <a href="#" class="active">Gestion des produits</a>
        </div>

        <h1>Gestion des produits</h1>

        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        <div class="admin_block">
            {% include 'admin/admin_includes/_admin_menu.html.twig' %}
            <div class="admin_content">
                <div>
                    <a href="{{path('admin_product_add')}}" class="btn">ajouter</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Nom</td>
                            <td>Prix</td>
                            <td>Type</td>
                            <td>Catégorie</td>
                            <td>Edition</td>
                            <td>Tome</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.type.name}}</td>
                                <td>{{product.category.name}}</td>
                                <td>{{product.edition.name}}</td>
                                <td>{{product.tome}}</td>
                                <td>
                                    <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn">Editer</a>
                                    <a href="{{ path('admin_product_delete', { id: product.id }) }}" class="btn" onclick="return confirm('Etes vous sûre de vouloir supprimer ce produit : {{product.name}} ? ')">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </main>
{% endblock %}

