<div class="form_block">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.opinion) }}
        {{ form_row(form.author) }}
        {{ form_row(form.product) }}
        <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(form) }}
</div>

