{% extends 'base.html.twig' %}

{% block title %}Contact - R. Oncedor{% endblock %}
{% block metaContent %}content="R. Oncedor - Histoires Farfelues. Contactez l'autrice R. Oncedor !"{% endblock %}

{% block main %}

<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="#">Accueil</a>
        <p>></p>
        <a href="#" class="active">Contact</a>
    </div>

    <div class="form_block">
        <h1>Contact</h1>

        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}