{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de commande - R. Oncedor{% endblock %}

{% block main %}
<!-- MAIN -->
<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="#" class="active">Commander</a>
        <p>></p>
        <a href="#" class="active">Récapitulatif de commande</a>
    </div>

    <div class="about">
        <h2>Récapitulatif de commande</h2>
        <div>
            <div>
                <h3>Votre adresse de livraison</h3>
                {{ deliverAdress.lineOne }}
                <br />
                {{ deliverAdress.lineTwo }}
                <br />
                {{ deliverAdress.postalCode }}
                {{ deliverAdress.city }}
                <br />
                {{ deliverAdress.country }}
            </div>
            <div>
                <h3>Votre commande</h3>
                {% for item in orderCart %}
                <table>
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.category.name }}</td>
                        <td>{{ item.product.tome }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                    </tr>
                </table>
                {% endfor %}
            </div>
        </div>
        <button>Payer</button>
    </div>
</main>
{% endblock %}