{% extends 'base.html.twig' %}

{% block title %} Précommande - R. Oncedor {% endblock %}

{% block main %}
<!-- MAIN -->
<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="#" class="active">Précommande</a>
    </div>


    <h1>Précommande</h1>
    {% if book.tome > 0 %}
        <h2>{{ book.name }} - {{ book.category.name }} - Tome {{ book.tome }}</h2>
    {% else %}
        <h2>{{ book.name }}</h2>
    {% endif %}

    <div class="preorder">
        <div class="preorder_presentation">
            <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="Couverture de {{ book.name }}" />
            <div>
                <h3> Détails </h3>
                <p>Edition {{ book.edition.name }}</p>
                <p>{{ book.description|nl2br }}</p>
                <h3> Résumé </h3>
                <p> {{ book.summary|nl2br }} </p>
                <a href="{{ path('cart_add', {id: book.id}) }}" class="btn">Précommander</a>
            </div>
        </div>
       
        
        <div class="conditions">
            <h3>Modalités de précommande</h3>
            <p>
                Les précommandes resteront ouvertes pendant 3 semaines, <span class="bold">jusqu'au 19/12/2021, inclus</span>. Peut-être davantage
                si nous n'avons pas atteint 80 commandes minimum (le nécessaire pour faire imprimer le stock).
            </p>
            <p>
                Une fois le délais écoulé et/ou le stock suffisant atteint, les livres seront imprimés puis préparé pour
                la livraison, prévue pour fin décembre 2021
            </p>
            <p>
                Les frais de ports pour toutes précommandes seront de 7.50€. La livraison sera effectuée à votre
                domicile par Colissimo suivi.
            </p>
            <a href="{{ path('cart_add', {id: book.id}) }}" class="btn">Précommander</a>
        </div>
    </div>
</main>
{% endblock %}