<div class="form_block">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.description) }}
        {{ form_row(form.type) }}
        {{ form_row(form.category) }}
        {{ form_row(form.edition) }}
        {{ form_row(form.tome) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>

