{% extends 'base.html.twig' %}

{% block title %}Espace client - Mes commandes - R. Oncedor{% endblock %}

{% block main %}
<main class="main" role="main">

    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="{{ path('user_profile') }}">Espace client</a>
        <p>></p>
        <a href="#" class="active">Mes commandes</a>
    </div>

    <h2>Mes commandes</h2>

    <div class="user_block">
        {% include 'user/user_includes/_user_menu.html.twig' %}
        <div class="user_content">
            {% for order in orders %}
            <div class="content_block">
                <p>Numéro de commande : {{ order.id }}</p>
                <p>Date de commande : {{ order.orderDate|date("m/d/Y") }}</p>
                {% if not order.isShipped %}
                    <p>Expédiée</p>
                    <p>Date d'expédition' : {{ order.shippedDate|date("m/d/Y") }}</p>
                    {% else %}
                    <p>En attente d'éxpédition</p>
                {% endif %}
                <a href="#" class="btn">Voir les détails</a>
            </div>
            {% endfor %}
        </div>

    </div>
</main>
{% endblock %}