{% extends 'base.html.twig' %}

{% block title %}Inscription - R. Oncedor{% endblock %}
{% block metaContent %}content="R. Oncedor - Histoires Farfelues. Inscrivez-vous pour pouvoir précommander les livres de l'autrice R. Oncedor"{% endblock %}

{% block main %}
    <main class="main" role="main">

        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="#">Accueil</a>
            <p>></p>
            <a href="#" class="active">Inscription</a>
        </div>

        {% for flashError in app.flashes('verify_email_error') %}
            <div role="alert alert-danger">{{ flashError }}</div>
        {% endfor %}

        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        <div class="form_block">
            <h1>Inscription</h1>

            <p>Bonjour et bienvenue sur le site ! Ce site est réalisé en temps que projet pour l'obtention du Titre Professionnel Développeur Web et Web Mobile. Je vous invite donc à ne pas vous inscrire. Le site est néanmoins un projet destiné à voir le jour rééllement. Aussi, si vous êtes intéressé par le projet et/ou par le travail de R. Oncedor, je vous invite à vous rendre sur la page à propos, pour vous inscrire à la newsletter de l'autrice ou pour la suivre sur l'uns de ces réseaux sociaux !</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.phoneNumber) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.save) }}
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
